<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/12/30 12:01:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActionDemo.doubleClick()[pri:0, instance:demo.ActionDemo@77caeb3e]">doubleClick</td> 
  <td>main@422250493</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/12/30 12:01:34</td>   <td>-3339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActionDemo.setUp()[pri:0, instance:demo.ActionDemo@77caeb3e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@422250493</td>   <td></td> </tr>
</table>
