<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTest.close()[pri:0, instance:SeleniumPractice.SeleniumTest@224edc67]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:37</td>   <td>8067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumTest.close()[pri:0, instance:SeleniumPractice.SeleniumTest@224edc67]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:24</td>   <td>-5414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTest.setUp()[pri:0, instance:SeleniumPractice.SeleniumTest@224edc67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:31</td>   <td>2133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumTest.setUp()[pri:0, instance:SeleniumPractice.SeleniumTest@224edc67]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:35</td>   <td>6175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.test1()[pri:2, instance:SeleniumPractice.SeleniumTest@224edc67]">test1</td> 
  <td>main@327177752</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/12/21 19:28:28</td>   <td>-945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeleniumTest.test2()[pri:1, instance:SeleniumPractice.SeleniumTest@224edc67]">test2</td> 
  <td>main@327177752</td>   <td></td> </tr>
</table>
