<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG-Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67c1fc">  <td>17/08/27 14:05:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleSearchSelenium2.setUp(java.lang.String)[pri:0, instance:testngselenium2.GoogleSearchSelenium2@27c20538]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestNG- Chrome Test-1@2007865571</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/08/27 14:05:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleSearchSelenium.setUp(java.lang.String)[pri:0, instance:testngselenium.GoogleSearchSelenium@72d818d1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestNG- Chrome Test-2@2032384907</td>   <td></td> </tr>
<tr bgcolor="67c1fc">  <td>17/08/27 14:05:17</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleSearchSelenium2.setUp(java.lang.String)[pri:0, instance:testngselenium2.GoogleSearchSelenium2@617faa95]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestNG- Firefox Test-1@1352024307</td>   <td></td> </tr>
<tr bgcolor="ee9faa">  <td>17/08/27 14:05:17</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleSearchSelenium.setUp(java.lang.String)[pri:0, instance:testngselenium.GoogleSearchSelenium@1e127982]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=TestNG- Firefox Test-2@2042012572</td>   <td></td> </tr>
</table>
