<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f73a2">  <td>18/02/28 20:52:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PhoneNumberTest.priceTest1()[pri:0, instance:tests.PhoneNumberTest@646d64ab]">priceTest1</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>18/02/28 20:52:38</td>   <td>-5056</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PhoneNumberTest.setup()[pri:0, instance:tests.PhoneNumberTest@646d64ab]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="9f73a2">  <td>18/02/28 20:52:43</td>   <td>397</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PhoneNumberTest.tearDown()[pri:0, instance:tests.PhoneNumberTest@646d64ab]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
</table>
