<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testngtests.TestNGGroups</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cats</td>
<td>pets </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cucumbers</td>
<td>fruits </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>oranges</td>
<td>fruits </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fish</td>
<td>pets </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>dogs</td>
<td>pets </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>apples</td>
<td>fruits </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>grapes</td>
<td>fruits </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
