<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>fruits</td><td>TestNGGroups.apples()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/>TestNGGroups.oranges()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/>TestNGGroups.cucumbers()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/>TestNGGroups.grapes()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/></td></tr>
<tr><td>pets</td><td>TestNGGroups.dogs()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/>TestNGGroups.fish()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/>TestNGGroups.cats()[pri:0, instance:testngtests.TestNGGroups@14bf9759]<br/></td></tr>
</table>
