<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.apples()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">apples</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.oranges()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">oranges</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.cats()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">cats</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.cucumbers()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">cucumbers</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.dogs()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">dogs</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>89</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.fish()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">fish</td> 
  <td>main@1715998167</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>17/09/08 07:57:30</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGGroups.grapes()[pri:0, instance:testngtests.TestNGGroups@14bf9759]">grapes</td> 
  <td>main@1715998167</td>   <td></td> </tr>
</table>
