<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterMethod()[pri:0, instance:testNG.LoginTest@7c0e2abd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@415138788</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterMethod()[pri:0, instance:testNG.LoginTest@7c0e2abd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@415138788</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterMethod()[pri:0, instance:testNG.LoginTest@7c0e2abd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@415138788</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNG.LoginTest@7c0e2abd]">doLoginTest</td> 
  <td>main@415138788</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNG.LoginTest@7c0e2abd]">doLoginTest</td> 
  <td>main@415138788</td>   <td></td> </tr>
<tr bgcolor="616ca2">  <td>17/05/18 12:18:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testNG.LoginTest@7c0e2abd]">doLoginTest</td> 
  <td>main@415138788</td>   <td></td> </tr>
</table>
