<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="849fce">  <td>17/08/27 15:01:52</td>   <td>0</td> <td title="&gt;&gt;Annot2.installsoftware()[pri:0, instance:framework.Annot2@8bd1b6a]">&gt;&gt;installsoftware</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>6</td> <td>&nbsp;</td><td title="&gt;&gt;Annotations.cookies()[pri:0, instance:framework.Annotations@18be83e4]">&gt;&gt;cookies</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/08/27 15:01:52</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annot2.software()[pri:0, instance:framework.Annot2@8bd1b6a]">software</td> 
  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.userIdGeneration()[pri:0, instance:framework.Annotations@18be83e4]">&gt;&gt;userIdGeneration</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.flightBooking()[pri:0, instance:framework.Annotations@18be83e4]">flightBooking</td> 
  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.reportAdding()[pri:0, instance:framework.Annotations@18be83e4]">&lt;&lt;reportAdding</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.userIdGeneration()[pri:0, instance:framework.Annotations@18be83e4]">&gt;&gt;userIdGeneration</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Annotations.openBrowser()[pri:0, instance:framework.Annotations@18be83e4]">openBrowser</td> 
  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.reportAdding()[pri:0, instance:framework.Annotations@18be83e4]">&lt;&lt;reportAdding</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>17/08/27 15:01:52</td>   <td>35</td> <td>&nbsp;</td><td title="&lt;&lt;Annotations.cookiesClose()[pri:0, instance:framework.Annotations@18be83e4]">&lt;&lt;cookiesClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>17/08/27 15:01:52</td>   <td>66</td> <td title="&lt;&lt;Annot2.deinstalsoftware()[pri:0, instance:framework.Annot2@8bd1b6a]">&lt;&lt;deinstalsoftware</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
</table>
